<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.MobileAsset.SoftwareUpdate</string>
	<key>MobileAssetProperties</key>
	<dict>
		<key>ActualMinimumSystemPartition</key>
		<integer>5144</integer>
		<key>Build</key>
		<string>21U580</string>
		<key>CompatibilityVersion</key>
		<integer>22</integer>
		<key>EAPFSEnabled</key>
		<true/>
		<key>InstallationSize</key>
		<string>0</string>
		<key>InstallationSize-Snapshot</key>
		<string>3112262980</string>
		<key>MinimumSystemPartition</key>
		<integer>5196</integer>
		<key>OSVersion</key>
		<string>10.6.1</string>
		<key>RSEPDigest</key>
		<data>
		AEGiQBQGirzKQaoiUw6p01qwVnm9Rinx+v6MJ01xEkQ3HkIVZMaUGT197LKH
		AGtI
		</data>
		<key>SEPDigest</key>
		<data>
		6gvfnQXCdkFXCegaDwCs4K2KxpN0v4PGks0NfGt/C3eSOc6xPAfUwgFVb8+q
		BtB3
		</data>
		<key>SUConvReqd</key>
		<true/>
		<key>SUDocumentationID</key>
		<string>PreRelease</string>
		<key>SUInstallTonightEnabled</key>
		<true/>
		<key>SUMultiPassEnabled</key>
		<true/>
		<key>SUProductSystemName</key>
		<string>iOS</string>
		<key>SUPublisher</key>
		<string>Apple Inc.</string>
		<key>SupportedDeviceModels</key>
		<array>
			<string>N131bAP</string>
		</array>
		<key>SupportedDevices</key>
		<array>
			<string>Watch4,2</string>
		</array>
		<key>SystemPartitionPadding</key>
		<dict>
			<key>1024</key>
			<integer>1280</integer>
			<key>128</key>
			<integer>1280</integer>
			<key>16</key>
			<integer>160</integer>
			<key>256</key>
			<integer>1280</integer>
			<key>32</key>
			<integer>320</integer>
			<key>512</key>
			<integer>1280</integer>
			<key>64</key>
			<integer>640</integer>
			<key>768</key>
			<integer>1280</integer>
			<key>8</key>
			<integer>80</integer>
		</dict>
		<key>SystemVolumeSealingOverhead</key>
		<integer>231</integer>
		<key>TrainName</key>
		<string>LighthouseG</string>
		<key>_EventRecordingServiceURL</key>
		<string>https://xp.apple.com/report</string>
		<key>__AssetDefaultGarbageCollectionBehavior</key>
		<string>NeverCollected</string>
		<key>__CanUseLocalCacheServer</key>
		<true/>
	</dict>
</dict>
</plist>
